@use "_variables" as cor;

@mixin lista_tecnologias($tamanho_li, $tamanho_i) {
    // Importar em um elemento pai ul com itens
  display: flex;
  justify-content: space-around;

  li {
    border: 1px solid cor.$text-color;
    border-radius: 50%;
    width: $tamanho_li;
    height: $tamanho_li;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: $tamanho_i;
      color: cor.$icon-color;
    }
  }
}
