* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    // erro no menu de navegação se adaptar devido as imagens serem grandes demais
}

ul {
    list-style: none;
}

p {
    text-align: justify;
}