@use "_reset";

:root,
:root[data-theme="dark"] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292e;
  --border-color: #28292e;
  --border-color-2: #c7c8c9;

  --title-color: #f0f0f0;
  --text-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #c7c8c9;
}

:root[data-theme="light"] {
  --primary-color: #0b0b0f;

  --primary-bg-color: #e9e9e9;
  --secondary-bg-color: #c7c8c9;
  --border-color: #c7c8c9;
  --border-color-2: #9a9a9c;

  --title-color: #0b0b0f;
  --text-color: #28292e;
  --link-color: #28292e;
  --icon-color: #56575a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  width: 100%;

  .nav_desktop {
    display: none;
    // none para mobile

    ul {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 500px;

      li a {
        text-decoration: none;
        color: var(--link-color);
        text-transform: uppercase;
      }
    }
  }

  i {
    color: var(--icon-color);
    font-size: 24px;
    cursor: pointer;
  }
}

.nav_mobile {
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-bg-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      gap: 5px;

      i {
        color: var(--icon-color);
        font-size: 2rem;
      }

      span {
        color: var(--link-color);
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}

main {
  margin-bottom: 30px;

  .apresentacao {
    margin: 0 auto 100px auto;
    // Deletar margin bottom depois
    width: 95%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 2.3rem;
      color: var(--primary-color);
    }

    p {
      font-size: 1.3rem;
      text-align: initial;
      color: var(--text-color);
    }

    .apresentacao__redes_sociais {
      display: flex;
      gap: 15px;

      i {
        font-size: 1.5rem;
        color: var(--icon-color);
      }
    }

    .apresentacao__botao_ver_projetos button {
      background-color: transparent;
      width: 100%;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 15px 30px;
      border: 2px solid var(--link-color);
      color: var(--primary-color);
    }
  }

  .habilidades {
    background-color: var(--secondary-bg-color);
    margin-bottom: 300px;
    // remover margin depois

    .habilidades__container {
      width: 95%;
      margin: 0 auto;
      padding: 50px 0 50px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      h2 {
        font-weight: 300;
        color: var(--title-color);
      }

      .habilidades__container__tecnologias {
        display: flex;
        justify-content: space-around;
        gap: 50px;

        li {
          border: 1px solid var(--text-color);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 2rem;
            color: var(--icon-color);
          }
        }
      }
    }
  }

  .projetos {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // remover margin depois

    h2 {
      font-size: 1.8rem;
      font-weight: 200;
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .projetos__cards {
      display: flex;
      flex-direction: column;
      gap: 80px;
      width: 95%;
      margin: 0 auto 30px auto;

      .projetos__cards__card {
        display: flex;
        flex-direction: column;
        // row no desktop
        gap: 10px;

        img {
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
          object-position: center;
        }

        .card__body {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h3 {
            font-weight: 200;
            text-transform: uppercase;
            color: var(--title-color);
          }

          .card__body__descricao {
            color: var(--text-color);
          }

          .card__body__funcionalidades {
            list-style-type: disc;
            margin: 0 auto;
          }

          .card__body__tecnologias {
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            li {
              border: 1px solid var(--text-color);
              border-radius: 50%;
              width: 4rem;
              height: 4rem;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                font-size: 1.7rem;
                color: var(--icon-color);
              }
            }
          }

          .card__body__botoes {
            display: flex;
            justify-content: space-evenly;

            a button {
              background-color: transparent;
              font-size: 1rem;
              text-transform: uppercase;
              cursor: pointer;
              border-radius: 50px;
              padding: 15px 16px;
              border: 2px solid var(--link-color);
              color: var(--primary-color);
            }
          }
        }
      }
    }

    .projetos__botao_ver_projetos button {
      background-color: transparent;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 15px 16px;
      border: 2px solid var(--link-color);
      color: var(--primary-color);
      width: 100%;
    }
  }

  .sobre {
    width: 95%;
    margin: 0 auto;

    h3 {
      font-weight: 200;
      text-transform: uppercase;
      color: var(--title-color);
      font-size: 1.5rem;
    }

    h4 {
      font-weight: 600;
      text-transform: uppercase;
      color: var(--title-color);
    }

    .sobre__perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      margin-bottom: 500px;

      .sobre__perfil__foto_perfil {
        border-radius: 50%;
        width: 245px;
        height: 270px;
      }

      .sobre__perfil__descricao {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 1.8rem;
          font-weight: 200;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: var(--primary-color);
        }

        p {
          font-size: 1rem;
        }

        .descricao__icones {
          i {
            color: var(--icon-color);
          }

          span {
            color: var(--primary-color);
          }
        }

        .descricao__botoes {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          a button {
            background-color: transparent;
            font-size: 0.8rem;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 50px;
            padding: 15px 16px;
            border: 2px solid var(--link-color);
            color: var(--primary-color);
          }

          .descricao__botoes__conecte_se {
            span {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .sobre__formacao {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 300px;
      color: var(--primary-color);

      .sobre__formacao__cards {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .formacao__cards__card {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }

    .sobre__cursos {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 300px;

      .sobre__cursos__acordeao {
        border: 1px solid var(--border-color);
        border-radius: 5px;

        .acordeao__item {
          .acordeao__item__header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            background-color: transparent;
            width: 100%;
            border: 1px solid var(--border-color-2);
            cursor: pointer;

            span,
            i {
              color: var(--title-color);
              font-size: 1.2rem;
            }

            .bi-caret-down {
              transition: transform 0.2s linear;
            }

            &.start {
              border-radius: 5px 5px 0 0;
            }

            &.end {
              border-radius: 0 0 5px 5px;
            }
          }

          .acordeao__item__body {
            display: none;
            // display será none primeiro depois flex

            padding: 20px;
            flex-direction: column;
            gap: 20px;
            font-size: 1.1rem;

            ul {
              list-style-type: disc;
            }
          }

          &.active .acordeao__item__header {
            background-color: var(--secondary-bg-color);

            &.end {
              border-radius: 0;
            }
          }

          &.active .acordeao__item__body {
            display: flex;
            // aparecerá ao ter essa classe

            &.end {
              border-radius: 0 0 5px 5px;
            }
          }

          &.active .bi-caret-down {
            transform: rotate(180deg);
            // transition: transform 0.2s linear;
          }
        }
      }
    }
  }

  .contato {
    border-top: 1px solid var(--border-color);
    padding-top: 30px;

    a {
      text-decoration: none;
    }

    .contato__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 95%;
      margin: 0 auto;

      h2 {
        font-size: 1.8rem;
        font-weight: 200;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      p {
        text-align: center;
      }
      ul {
        display: flex;
        justify-content: space-around;
        width: 80%;
        li i,
        li span {
          color: var(--text-color);
        }

        li i {
          margin-right: 10px;
          font-size: 1.3rem;
        }

        li span {
          font-size: 1.3rem;
        }
      }

      .contato__container__botao_email button {
        background-color: transparent;
        font-size: 1.3rem;
        cursor: pointer;
        border-radius: 50px;
        padding: 15px 16px;
        border: 2px solid var(--link-color);
        color: var(--primary-color);
      }
    }
  }
}

footer {
  border-top: 1px solid var(--border-color);
  padding-top: 30px;
  margin-bottom: 100px;

  p {
    text-align: center;

    a {
      text-decoration: none;
      color: var(--primary-color);
    }
  }
}

// Responsividade
@media (min-width: 770px) {
  header {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    margin-top: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: var(--secondary-bg-color);
    padding: 20px;
  }

  .nav_mobile {
    display: none;
  }

  nav.nav_desktop {
    display: block;
  }

  main {
    margin-top: 100px;

    .apresentacao {
      max-width: 1100px;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }

      .apresentacao__redes_sociais {
        i {
          font-size: 1.8rem;
        }
      }

      .apresentacao__botao_ver_projetos button {
        width: auto;
      }
    }

    .habilidades {
      .habilidades__container {
        max-width: 1100px;
        flex-direction: row;
        justify-content: space-between;

        h2 {
          width: 60%;
          font-size: 2.5rem;
        }

        .habilidades__container__tecnologias {
          width: 40%;

          li {
            width: 4rem;
            height: 4rem;

            i {
              font-size: 2rem;
            }
          }
        }
      }
    }

    .projetos {
      h2 {
        font-size: 3rem;
      }

      .projetos__cards {
        max-width: 1100px;

        .projetos__cards__card {
          flex-direction: row;
          justify-content: space-around;
          gap: 40px;
          align-items: center;

          img {
            width: 50%;
          }

          .card__body {
            width: 50%;

            h3 {
              font-size: 2.3rem;
              text-align: center;
            }

            .card__body__descricao {
              font-size: 1.25rem;
              text-align: center;
            }

            .card__body__funcionalidades {
              list-style-position: inside;
              font-size: 1.25rem;

              li {
                width: 300px;
              }
            }

            .card__body__tecnologias {
              li {
                width: 4rem;
                height: 4rem;
              }

              li i {
                font-size: 2.3rem;
              }
            }

            .card__body__botoes {
              a button {
                width: auto;
              }
            }
          }
        }

        .projetos__cards__card.card_reverse {
          flex-direction: row-reverse;
        }
      }
    }

    .sobre {
      max-width: 1100px;

      .sobre__perfil {
        flex-direction: row;

        .sobre__perfil__foto_perfil {
          width: 410px;
          height: 410px;
        }
        .sobre__perfil__descricao {
          gap: 40px;

          h2 {
            font-size: 3.2rem;
          }

          p,
          .descricao__icones span,
          .descricao__icones i,
          .descricao__botoes span {
            font-size: 1.1rem;
          }
        }
      }

      .sobre__formacao {
        align-items: center;

        h3 {
          font-size: 2rem;
        }

        h4 {
          font-size: 1.3rem;
        }
      }

      .sobre__cursos {
        align-items: center;

        .sobre__cursos__acordeao {
          width: 80%;
        }


        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  footer {
    margin-bottom: 50px;
  }
}
