@use "_reset";
@use "_mixins";
@use "_variables" as cor;

html {
  scroll-behavior: smooth;
}

body {
  background-color: cor.$primary-bg-color;
  color: cor.$text-color;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;

  i {
    color: cor.$icon-color;
    font-size: 24px;
    cursor: pointer;
  }
}

nav.nav_mobile {
  border-top: 1px solid cor.$border-color;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: cor.$primary-bg-color;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      gap: 5px;

      i {
        color: cor.$icon-color;
        font-size: 2rem;
      }

      span {
        color: cor.$link-color;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}

main {
  margin-bottom: 30px;

  .apresentacao {
    margin: 0 auto 200px auto;
    // Deletar margin bottom depois
    width: 95%;
    display: flex;
    gap: 28px;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 2.3rem;
      color: cor.$primary-color;
    }

    p {
      font-size: 1.3rem;
      text-align: initial;
      color: cor.$text-color;
    }

    .apresentacao__redes_sociais {
      display: flex;
      gap: 15px;

      i {
        font-size: 1.5rem;
        color: cor.$icon-color;
      }
    }

    .apresentacao__botao_ver_projetos button {
      background-color: transparent;
      width: 100%;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 15px 16px;
      border: 2px solid cor.$link-color;
      color: cor.$primary-color;
    }
  }

  .habilidades {
    background-color: cor.$secondary-bg-color;
    margin-bottom: 300px;
    // remover margin depois

    div.habilidades__container {
      width: 95%;
      margin: 0 auto;
      padding: 50px 0 50px 0;
      display: flex;
      flex-direction: column;
      gap: 50px;

      h2 {
        font-weight: 300;
        color: cor.$title-color;
      }

      .habilidades__container__tecnologias {
        @include mixins.lista_tecnologias(70px, 2rem);
      }
    }
  }

  .projetos {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // remover margin depois

    h2 {
      font-size: 1.8rem;
      font-weight: 200;
      text-align: center;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .projetos__cards {
      display: flex;
      flex-direction: column;
      gap: 80px;
      width: 95%;
      margin: 0 auto 30px auto;

      .projetos__cards__card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card__body {
          display: flex;
          flex-direction: column;
          gap: 20px;
          // background-color: blue;

          h3 {
            font-weight: 200;
            text-transform: uppercase;
            color: cor.$title-color;
          }

          .card__body__descricao {
            color: cor.$text-color;
          }

          .card__body__funcionalidades {
            list-style-type: disc;
            margin: 0 auto;

            li {
              width: fit-content;
            }
          }

          .card__body__tecnologias {
            @include mixins.lista_tecnologias(50px, 1.5rem);
            justify-content: flex-start;
            gap: 10px;
          }

          .card__body__botoes {
            display: flex;
            justify-content: space-evenly;

            a button {
              background-color: transparent;
              font-size: 1rem;
              text-transform: uppercase;
              cursor: pointer;
              border-radius: 50px;
              padding: 15px 16px;
              border: 2px solid cor.$link-color;
              color: cor.$primary-color;
            }
          }
        }
      }
    }

    .projetos__botao_ver_projetos button {
      background-color: transparent;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 15px 16px;
      border: 2px solid cor.$link-color;
      color: cor.$primary-color;
      width: 100%;
    }
  }

  .sobre {
    width: 95%;
    margin: 0 auto;

    h3 {
      font-weight: 200;
      text-transform: uppercase;
      color: cor.$title-color;
      font-size: 1.5rem;
    }

    h4 {
      font-weight: 600;
      text-transform: uppercase;
      color: cor.$title-color;
    }

    .sobre__perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      // sera row no responsivo

      margin-bottom: 500px;

      .sobre__perfil__foto_perfil {
        border-radius: 50%;
        width: 245px;
        height: 270px;
      }

      .sobre__perfil__descricao {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 1.8rem;
          font-weight: 200;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: cor.$primary-color;
        }

        .descricao__icones {
          i {
            color: cor.$icon-color;
          }

          span {
            color: cor.$primary-color;
          }
        }

        .descricao__botoes {
          display: flex;
          justify-content: space-evenly;

          a button {
            background-color: transparent;
            font-size: 0.8rem;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 50px;
            padding: 15px 16px;
            border: 2px solid cor.$link-color;
            color: cor.$primary-color;
          }
        }
      }
    }

    .sobre__formacao {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 300px;
      color: cor.$primary-color;

      .sobre__formacao__cards {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .formacao__cards__card {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }

    .sobre__cursos {
      display: flex;
      flex-direction: column;
      margin-bottom: 300px;
    }
  }

  .contato {
    border-top: 1px solid cor.$border-color;
    padding-top: 30px;

    a {
      text-decoration: none;
    }

    .contato__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 95%;
      margin: 0 auto;

      h2 {
        font-size: 1.8rem;
        font-weight: 200;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      p {
        text-align: center;
      }
      ul {
        display: flex;
        justify-content: space-around;
        width: 80%;
        li i,
        li span {
          color: cor.$text-color;
        }

        li i {
          margin-right: 10px;
          font-size: 1.3rem;
        }

        li span {
          font-size: 1.3rem;
        }
      }

      .contato__container__botao_email button {
        background-color: transparent;
        font-size: 1.3rem;
        cursor: pointer;
        border-radius: 50px;
        padding: 15px 16px;
        border: 2px solid cor.$link-color;
        color: cor.$primary-color;
      }
    }
  }
}

footer {
  border-top: 1px solid cor.$border-color;
  padding-top: 30px;
  margin-bottom: 100px;

  p {
    text-align: center;

    a {
      text-decoration: none;
      color: cor.$primary-color;
    }
  }
}
